In [1]:
# imports needed

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import wrangle_zillow
#import summarize
#import prepare

In [4]:
df = wrangle_zillow.get_zillow_data()
df

       parcelid  count(transactiondate) transactiondate
0      14297519                       1      2017-01-01
1      17052889                       1      2017-01-01
2      14186244                       1      2017-01-01
3      12177905                       1      2017-01-01
4      10887214                       1      2017-01-01
...         ...                     ...             ...
77609  11000655                       1      2017-09-20
77610  17239384                       1      2017-09-21
77611  12773139                       1      2017-09-21
77612  12826780                       1      2017-09-25
77613  13083743                       1      2018-05-25

[77614 rows x 3 columns]